.navbar {
  background-color: #034a86 !important;
}
.navbar-nav .nav-link {
  color: #fefefe !important;
  text-align: center;
}
.nav-link:hover {
text-decoration: underline;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #034a86;
}

p {
  color: grey;
}
li {
  color: grey;
}
.azul {
  color: #034a86;
}

.zona-gris {
  background-color: rgb(246, 246, 246);
}

.carousel-indicators [data-bs-target] {
 
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin: 0 5px;
  cursor: pointer;
  transition: opacity 0.3s, background-color 0.3s;
}
.carousel-indicators .active {
  background-color: #023865;
  opacity: 1;
}

@media (max-width: 576px) {
  .carousel-indicators {
    display: none !important;
  }
}















