
.navbar {
  background-color: #034a86 !important;
}
.navbar-nav .nav-link {
  font-family: 'Raleway';
  font-weight: 700;
  color: #fefefe !important;
  text-align: center;
}
.nav-link:hover {
text-decoration: underline;
}

h2 {
  font-family: 'Raleway';
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 25px;
  color: #034a86;
  text-align: center;
}

.letra-blanca {
  color: rgb(255, 255, 255);
}
.letra-azul {
  color: #034a86;
}

.img-fluid {
  width: 100%;
  height: auto;
  display: block;
}

p {
  font-size: 18px;
  font-family: 'Raleway';
  color: rgb(105, 102, 102);
}

.azul {
  font-weight: 700;
  color: #034a86;
}

.gris {
  background-color: #f9f9f9;
  padding: 40px;
}  
.zona-gris {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
}

.titulo-azul {
  font-weight: 700;
  margin-top: 2px;
  color: #034a86;
}
.titulo-blanco {
  font-weight: 700;
  margin-top: 2px;
  color: #ffffff;
}
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.card {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contenido {
  text-align: initial;
  padding: 30px;
  flex-direction: column;
  flex-grow: 1;
}

.card-azul {
  border: none;
  font-family: 'Raleway';
  background-color: #034a86;
  color: white;
}

.card-celeste {
  border: none;
  font-family: 'Raleway';
  color: #034a86;
  background-color: #9ed7dc;
}

.card-amarillo {
  border: none;
  font-family: 'Raleway';
  color: #034a86;
  background-color: #d3de55;
}

.card-rosa {
   border: none;
  font-family: 'Raleway';
  background-color: #e90089;
  color: #ffffff;
}
.boton-personalizado {
  border-color: #034a86; 
  color: #034a86;
}

.btn {
  margin-top: 30px;
}

.contact {
  text-align: center;
  font-weight: 600;
  color: #034a86;
}

.contact a {
  text-decoration: none;
  color: #034a86;
}

.social-icons {
  text-align: center;
  margin-top: 10px;
}

.carousel-indicators [data-bs-target] {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin: 0 5px;
  cursor: pointer;
  transition: opacity 0.3s, background-color 0.3s;
}
.carousel-indicators .active {
  background-color: #023865;
  opacity: 1;
}
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  background-color: #034a86;
  padding: 20px 0;
}

.nav-links a {
  font-family: 'Raleway';
  font-weight: 700;
  color: #fefefe;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.navbar-principal .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright {
  text-align: center;
  color: #034a86;
  font-weight: 520;
  padding: 10px;
}

  
#brandCarousel .carousel-item > div {
  flex-wrap: nowrap; /* Mantiene todo en una sola línea */
  gap: 10px;
  display: flex;
  justify-content: center;
}

#brandCarousel .carousel-item img {
  max-height: 150px;
  width: auto;
  height: auto;
  max-width: 100%;
}

@media (max-width: 767px) {
  #brandCarousel .carousel-item > div {
    justify-content: center !important;
    flex-wrap: wrap !important;
  }

  #brandCarousel .carousel-item img {
    max-height: 80px;
    flex: 0 0 30%;
  }
}

/* Ajuste de flechas solo en pantallas grandes */
@media (min-width: 768px) {
  #brandCarousel .carousel-control-prev {
    left: -70px;
  }

  #brandCarousel .carousel-control-next {
    right: -70px;
  }
}

  

@media (min-width: 768px) {
  .navbar .container-fluid {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .carousel-indicators {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    
  }

}














